<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
</head>
<body class="body">
    <!-- Add your common header, navigation, etc. here -->
    <div class="header">
      <a href="/">
        <h2 class="header-h2">My Journal</h2>
      </a>
      <div>
        {% if user.is_authenticated%}
<div class="account-info">
    <p>{{user.username}}</p>
    <a class="button-secondary log-out-btn" href="{% url 'logout'%}">Log Out</a>
</div>
{% endif %}
      </div>
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer"></div>
    <!-- Add your common footer here -->
</body>
</html>